<div class="card">
    <div class="username" (click)="goToQuote()">
        {{quote.creator.username}} - {{quote.date | date:'dd/MM/yyyy HH:mm'}}
    </div>
    <div class="quoteContent" (click)="goToQuote()">
        {{quote.content}}
    </div>
    <div class="rating">
        <div class="quote_mark" (click)="rate(true)">
            <span>{{quote.pos}}</span>
            <mat-icon class="rate_icon rate_plus" >add</mat-icon>
        </div>
        <div class="quote_mark" (click)="rate(false)">
            <span>{{quote.neg}}</span>
            <mat-icon class="rate_icon rate_plus" >remove</mat-icon>
        </div>
        <div class="quote_mark" (click)="comment()">
            <span>{{quote.comments.length}}</span>
            <mat-icon class="rate_icon comment">comment</mat-icon>
        </div>
        <div class="share">
            <mat-icon class="rate_icon" (click)="share()">share</mat-icon>
        </div>
    </div>
</div>