<div class="bg">
    <div class="back">
        <button mat-fab color="warn" class="black" aria-label="Example icon button with a home icon" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <div class="container">

        <div class="top">
            <h6>Share your best sentence</h6>
            <h6>Big bg</h6>
        </div>

        <form class="form" [formGroup]="form">
            <mat-form-field appearance="legacy" class="field">
                <mat-label>Your sentence</mat-label>
                <textarea [value]="quote" (input)="quote=$event.target.value" matInput formControlName="quote"></textarea>
                <div *ngIf="(q.invalid && q.touched) || q.dirty">
                    <small *ngIf="q.errors?.required" class="text-danger">The sentence is required</small>
                </div>
            </mat-form-field>
        </form>

        <button type="button" (click)="postQuote()" mat-raised-button class="postButton" [disabled]="!form.valid">
            <mat-progress-spinner *ngIf="isPosting" mode="indeterminate" [diameter]="30">
            </mat-progress-spinner>
            <div *ngIf="!isPosting">
                Be part of the beauferie
            </div>
        </button>
    </div>
</div>