
$screen-sm-min: 576px;

@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}

.bg{
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    display: grid;
    font-family: Poppins;
}

.container{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 30%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    vertical-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    @include sm{
        width:80%;
        height: 45%;
    }
}

.top{
    padding:10px;
}

.field{
    width: 90%;
    margin: auto;
    font-weight: 500;
}

textarea{
    height: 70px;
}

.postButton{
    width: 85%;
    height: 45px;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    font-family: Poppins;
    font-size: 15px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.form{
    align-content: center;
    display: grid;
    align-self: center;
}

.back{
    position: absolute;
    top:20px;
    left:20px;
}

.black{
    background-color:black
}