$c-bg: #292929;
$c-content-bg:#1C1C1C;
$c-green: #52EB61;
$c-red: #EB4343;

.con{
    min-height: 100%;
    padding: 10px;
    font-family: Poppins;
    background-color: $c-bg;
    color:white;
}

.com_contaimer{
    margin-top: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 25%;
}

.loading{
    margin:auto;
    margin-top:10px;
    margin-top: 20px !important;
}

.card{
    margin-top: 15px !important;
    border-radius: 50px;
    box-shadow: 0px 0px 19px #1C1C1C;
    background-color: $c-content-bg;
    width: 90%;
    margin: auto;
    padding: 32px;
}

.username{
    font-weight: 600;
    font-size: 14px;
}

.quoteContent{
    font-weight: lighter;
    font-size: 15px;
    color:white;
}

.rating{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 25% 25% auto;
    color: white;
}

.quote_mark{
    display: inline-block;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    &--pos {
        background-color:$c-green;
    }
    &--neg {
        background-color: $c-red;

    }
}

.rate_icon{
    font-size: 20px;
}

.rate_plus{
    margin-right: 10px;
    
}

.rate_minus{
    margin-left: 10px;
}

.share{
    margin-left: auto;
}

.rate_icon:active{
    color:red;
    animation-duration: 2s;
}

.comments_section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}

.comment_input{
    width: 90%;
    margin: auto !important;
    font-weight: 500;
    font-family: Poppins;
    // margin-top: 10px !important;
}

textarea{
    height: 50px;
    font-size: 15px;
}

.send{
    border: none;
    color: #F44336;
}

.comment_card{
    border-radius: 5px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #1C1C1C;
    color:white;
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

.comment_content{
    font-weight: lighter;
    font-size: 15px;
    color:white;
}