<mat-progress-spinner *ngIf="!quote" mode="indeterminate" [diameter]="30" class="loading"></mat-progress-spinner>

<div *ngIf="quote" class="con">
    <div class="rating">
        <div class="quote_mark quote_mark--pos">
            <span>{{quote.pos}}</span>
            
        </div>
        <div class="quote_mark quote_mark--neg">
            <span>{{quote.neg}}</span>
            
        </div>

    </div>
    <div class="card">

        <div class="com_container">
            <div class="username">
                {{quote.creator.username}} - {{quote.date | date:'dd/MM/yyyy HH:mm'}}
            </div>
            <div class="quoteContent">
                {{quote.content}}
            </div>
            <div class="share">
                <mat-icon class="rate_icon" (click)="share()">share</mat-icon>
            </div>
        </div>

        <hr/>

        <div class="comments_section">
            <div>Comments</div>

            <mat-form-field appearance="legacy" class="comment_input">
                <mat-label>Your comment</mat-label>
                <textarea matInput [value]="comment" (input)="comment=$event.target.value"></textarea>
                <!-- <textarea matInput [value]="comment" (input)="comment=$event.target.value" autoFocus [wantsFocus]="wantToComment"></textarea> -->
                <mat-icon matSuffix class="send" (click)="postComment()">send</mat-icon>
            </mat-form-field>

        </div>

        <div class="comment_card" *ngFor="let comment of quote.comments">
            <div class="username">
                {{comment.author.username}} - {{comment.date | date:'dd/MM/yyyy HH:mm'}}
            </div>
            <div class="comment_content">
                {{comment.content}}
            </div>
        </div>
    </div>

</div>