<div id="top_refresh" class="con">
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" [diameter]="30" class="loading"></mat-progress-spinner>

    <div class="empty" *ngIf="quotes.length === 0 && !isLoading">
        There's currently no quote posted, you can add your own one or eventually refresh BG ♥
    </div>

    <div class="add" routerLink="/new-quote">
        <mat-icon class="align-middle">add</mat-icon>
        <span class="align-middle">Add a new quote</span>
    </div>

    <div *ngFor="let quote of quotes">
        <app-quote [quote]="quote"></app-quote>
    </div>
    
</div>